echo [main]
echo ESP_TYPE={ESP_TYPE}
echo VER={VER}
echo VERNAME={VERNAME}
echo ID={chip}-{FlashChipId}

echo [time]
echo UnixTime={UnixTime}
echo hh={hh}
echo mm={mm}
echo ss={ss}
echo dn={dn}
echo ddn={ddn}
echo hhmmss={hhmmss}

echo [WI-FI]
echo ip={ip}
echo ip_mask={ip_mask}
echo ip_gateway={ip_gateway}
echo macAddress={macAddress}
echo ip_connected={ip_connected}
echo ip_autoconnect={ip_autoconnect}

echo [SERVER]
echo ip_dns={ip_dns}
echo ip_hostname={ip_hostname}
echo ip_status={ip_status}
echo ip_ssid={ip_ssid}
echo ip_bssid={ip_bssid}
echo ip_rssi={ip_rssi}
echo softAPIP={softAPIP}
echo softAPmacAddressl={softAPmacAddress}

echo [System]
echo FreeHeap={FreeHeap}
echo FreeSketchSpace={FreeSketchSpace}
echo SketchSize={SketchSize}
echo chip={chip}
echo FlashChipId={FlashChipId}
echo FlashChipSize={FlashChipSize}
echo FlashChipRealSize={FlashChipRealSize}
echo FlashChipSpeed={FlashChipSpeed}
echo cycles={cycles}
echo CoreVersion={CoreVersion}
echo FullVersion={FullVersion}
echo BootVersion={BootVersion}
echo BootMode={BootMode}
echo CpuFreq={CpuFreq}
echo FlashChipSizeByChipId={FlashChipSizeByChipId}
echo getSketchMD5={getSketchMD5}
echo ResetReason={ResetReason}
echo ResetInfo={ResetInfo}
echo flashmode={flashmode}
echo vcc={vcc}

echo [DISK]
echo SPIFFStotal={SPIFFStotal}
echo SPIFFSused={SPIFFSused}
echo SPIFFSfree={SPIFFSfree}
