.br { font-size: 8px; }
.r { font-size: 10px; }
.l,.ll { cursor: pointer; color: blue; text-decoration: underline; } .ll,.il { display: inline; }
.l:hover,.ll:hover { color: violet; }


.mv_ { cursor: pointer; position: relative; }
.mv_:hover::after { content:""; position:absolute; left: 0; bottom: -2px; width: 100%; height: 2px; background-color: currentColor; }

.mv, .mv0 { display:fit-content; cursor:pointer; }
.mv0 { transition: transform 0.2s ease-in-out; }
.mv0:hover { transition-property: transform; transition-duration: 0.2s; animation: none; transform: scale(1.1); }

    /* Анимация: мигание фона */
    .mymail {
        transition: background-color 0.5s ease;
    }
    .mymail.animate {
	background-color: yellow; /* Цвет при анимации */
	animation: pulse 2s infinite; /* Анимация с повторением */
    }
    /* Ключевые кадры для эффекта мигания */
    @keyframes pulse {
	0% { background-color: yellow; }
        50% { background-color: orange; }
        100% { background-color: yellow; }
    }

    .log_console {
	max-width: 800px;
	margin:10px 0 10px 0;
        max-height: 150px;
        overflow-y: auto; /* Включаем вертикальную прокрутку при превышении max-height */
        height: auto; /* Автоматическая высота для подстройки под содержимое */
        white-space: pre-wrap; /* Сохраняем перенос строк и пробелы */
        word-wrap: break-word; /* Перенос длинных слов */
        border: 1px solid #ccc; /* Для визуального отображения элемента */
        padding: 10px; /* Внутренние отступы */
        box-sizing: border-box; /* Учитываем отступы и границы в общей высоте */
	border-radius: 5px;
	font-size: 11px;

    margin-top: 1.5em;
    padding: 1em;
    background: #222;
    color: #0f0;
    font-family: monospace;
    font-size: 14px;
    border-radius: 6px;
    min-height: 100px;
    white-space: pre-wrap;
    overflow-wrap: anywhere;

    text-align: left;
    }


:root {
    --clr-h-titles: #fff;
    --clr-html-text: #ddd;
    --clr-dark-text: #555;
    --clr-gray-green: #ecfcf3;
    --clr-body-bg-light: rgb(79, 124, 143);
    --clr-body-bg-dark: #342e62;
    --clr-overlay-bg: #100f1d94;
    --clr-gray-light: #f7f7f7;
    --clr-red: #FF4C4C;
    --clr-red-hovered: #FF1F1F ;
    --clr-green-light: #b8fdd9;
    --clr-green-light-hover: #96fcc7;
    --clr-blue: #007BFF;
    --clr-blue-dark: #0056b3;

    --size_border-radius-large: 50px;
    --size_border-radius-big: 32px;
    --size_border-radius-medium: 16px;
    --size_border-radius-small: 8px;
    --font-size-normal: 14px;
    --font-size-small: 12px;

    --size-max-width-mobile: 300px;
}

body {
    /*
    margin: 0;
    padding: 0;
    font-size: var(--font-size-normal);
    */
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--clr-body-bg-light), var(--clr-body-bg-dark));
    font-family: Unbounded, sans-serif;
    color: #ddd;

}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0 20px;
    /*color: white;*/
}
a {
    color: var(--clr-html-text);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
button{
    font-family: inherit;
}
.small-txt{
    font-size: .6em;
}
.flex-row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.menu-icon {
    width: 50px;
    height: 50px;
}


/* BUTTONS  */

.action-btn, .action-btn-big{
    display: inline-block;
    font-size: var(--font-size-small);
    font-weight: 600;
    color: var(--clr-dark-text);
    text-align: center;
    padding: 8px 12px;
    border-radius: var(--size_border-radius-big);
    background-color: white;
    border: none;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .05), 0 1px 2px 0 rgba(0, 0, 0, .08);
    cursor: pointer;
}
.action-btn-big{
    padding: 10px 20px;
    font-size: var(--font-size-normal);
}
.action-btn:hover, .action-btn-big:hover {
    box-shadow: 0 0 1px 1px var(--clr-body-bg-dark);
    0 0 5px 1px var(--clr-body-bg-light);
    transform: scale(1.01);
}
.btn-green{
    background-color: var(--clr-green-light);
    color: #333;
}
.btn-green:hover{
    background-color: var(--clr-green-light-hover);
}
.icon-btn{
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 30px;
    padding: 20px 30px;
    padding-left: 60px;
}


.activity-list {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.activity-list li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.activity-list li:last-child {
    border-bottom: none;
}

.activity-footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 1rem 0 2rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 5px;
}

.menu-list li {
    cursor: pointer;
    /* transition: transform 0.3s ease, font-size 0.3s ease; */
    transition: transform 0.1s ease;
}
.menu-list li:hover {
    transform: scale(1.005);
    /* font-size: 1.1em; */
}

/* TABLE  */
/*
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}
table th, table td {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
table th {
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: bold;
}
*/


/* FORMS  */

.form-field input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: var(--size_border-radius-small);
    box-sizing: border-box;
}
.form-field .required-label::after {
    content: " *"; 
    color: var(--clr-red); 
    font-weight: bold; 
    margin-left: 5px; 
}
.form-field{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form-field label {
    width: 150px; 
    margin-right: 10px; 
    font-weight: bold;
}
form button{
    margin-top: 1rem;
    /* width: 100%; */
}

/********************************/
/*********** MOBILE  ************/
/********************************/

@media screen and (max-width: 768px) {
    .mobile{
        display: block;
    }
    body{
        padding: 1vh 1vw;
    }
    .fullscreen{
        display: none
    }

    .icon-button {
        background: none;
        border: none;
        cursor: pointer;
    }
}

/********************************/
/********* FULL SCREEN **********/
/********************************/
@media screen and (min-width: 769px) {
    .mobile{
        display: none;
    }
    .fullscreen{
        display: block;
    }
}


/*******************************/
/* POPUP WINDOW */

.bg-light{
    background: #fff;
    color: var(--clr-dark-text) !important;
}

.bg-dark{
    background: var(--clr-body-bg-light) !important;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-overlay-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    /*visibility: hidden;*/
    opacity: 0;
    transition: /*visibility 0s,*/ opacity 0.3s ease;
    z-index: 1000;
}
.popup-overlay.active {
    /*visibility: visible;*/
    opacity: 1;
}

.transparent-overlay.active {
    background: rgba(0, 0, 0, 0.7);
    transition: visibility 0s, opacity 0.3s ease;
}

.popup-window{
    position: relative;
    border-radius: var(--size_border-radius-medium);
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    /*max-width: var(--size-max-width-mobile);*/
    /* width: 100%; */
    min-width: 300px;
max-height: 90vh;
max-width: 95vw;
overflow: auto;
}

.transparent-overlay.active .popup-window{
    /* background: var(--clr-body-bg-light); */
    opacity: 1;
    z-index: 1001;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--clr-red);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: var(--size_border-radius-small);
    cursor: pointer;
}
.popup-close:hover {
    background: var(--clr-red-hovered);
}
